.login
{
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 20px;
  height: 99vh;

}


.login mat-card-content{
  text-align: center;
  margin-bottom: 40px;
}

mat-card-content:first-child{
  background-color: cadetblue;
  color: white;
  height: 50px;
  margin-bottom: 30px;

}

mat-card-content > h1{
  line-height: 40px;
  width: 90% !important;
}

.mytable{

  min-width: 0 !important;
  width: 90% !important;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  overflow: scroll;
  max-height: 200px;
}

th,td{
  text-align: center;
}

.modalEdit{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  border: solid red;
  background-color: rgba(128, 128, 128, 0.516);;
  justify-content: center;
  align-items: center;
  display: flex;
}

.modalEdit  > .login{
  position: relative;
}


.modalEdit .mat-calendar-table{
  position: absolute ;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000000000 !important;
}





@media screen and (min-width: 1024px) {
  .login
  {
    width: 400px;
    display: block;
    margin: auto;
    margin-top: 100px;
    height: 600px;
  }
  .mytable{
    width: 60% !important;
    max-height: 80vh !important;
    margin: auto;
    margin-top: 100px;
  }

}




